'<div class="ibx-pg">'+
    '<div class="ibx-pg-b">'+
        '<div class="ibx-pg-hd" id="_ibx_pg_hd">'+
            '<div class="ibx-pg-nd-a">'+
                '<span class="fri-stk-data" data-users=""></>'+
                '<div class="ibx-pg-hd-r"></div>'+
                '<div class="ibx-pg-hd-l">'+
                    '<div class="ibx-pg-nw-dv">'+
                        '<button type="button" name="button" class="ibx-create-nw-thd btn btn-primary btn-xs" id="idx_create_nw_thd">New Message</button>'+
                        '<button type="button" name="button" class="ibx-voc-msg-btn btn btn-primary btn-xs" id="ibx_voc_msg_btn"><i class="fa fa-video-camera" aria-hidden="true"></i></button>'+
                        '<button type="button" name="button" class="ibx-answering-btn btn btn-primary btn-xs"><span class="glyphicon glyphicon-transfer"></span></button>'+
                        '<button type="button" name="button" class="ibx-config btn btn-primary btn-xs"><i class="fa fa-cog"></i></button>'+
                     '</div>'+
                '</div>'+
            '</div>'+
        '</div>'+
        '<div class="ibx-pg-bd" id="_ibx_pg_bd">'+
            '<div class="ibx-pg-nw" id="_ibx_pg_nw"></div>'+
            '<div class="ibx-pg-msgs" id="_ibx_pg_msgs">'+
                '<div class="ibx-pg-msgs-bd" id="_ibx_pg_msgs_db">'+
                    '<div class="ibx-pg-msg" id="_ibx_pg_msg"></div>'+
                    '<div class="ibx-pg-msg" id="_ibx_pg_msg"></div>'+
                '</div>'+
                '<div class="ibx-pg-msgs-sh" id="_ibx_pg_msgs_sh"></div>'+
            '</div>'+
        '</div>'+
        '<div class="ibx-pg-ft" id="_ibx_pg_ft"></div>'+
        '<div class="form-cont-nne" id="_form_cont_nne"></div>'+
    '</div>'+
    '<div id="_8" class="online_8"></div>'+
'</div>'+
'<div id="q-time" class="q-time"></div>'+
''
