'<div class="gl-foot-dv">'+
	'<div class="gl-foot-dv-ct">'+
		'<a href="" class="gl-foot-lk">language</a> . '+
		'<a href="" class="gl-foot-lk">about opinion</a> . '+
		'<a href="" class="gl-foot-lk">confidentiality</a> . '+
		'<a href="" class="gl-foot-lk">regles</a> . '+
		'<a href="" class="gl-foot-lk">potitics</a> . '+
		'<a href="" class="gl-foot-lk">find</a> . '+
		'<a href="" class="gl-foot-lk">features</a> . '+
		'<a href="" class="gl-foot-lk">meeting</a> . '+
		'<a href="" class="gl-foot-lk">privency</a> . '+
		'<a href="" class="gl-foot-lk">next</a> . '+
		'<a href="" class="gl-foot-lk">most</a>'+
	'</div>'+
'</div>'+
''
