/app/config/parameters.yml
/app/Resources/webpack/
/app/Resources/node-server/
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/builds/
/web/media/
/web/node_modules/
/web/optube/
/web/public/
/web/uploads/
/web/css/
/web/assetic/
/web/app/firebase/firebase.js
/src/OP/SocialBundle/Firebase/
/src/OP/UserBundle/Security/Http/Authentication/google-service-account.json
/src/OP/UserBundle/EventListener/google-service-account.json
