.o-modal {
    &.photo {
        outline: 0;
        z-index: 1100;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        .black-drop-dv{
            opacity: 0.7;
            background: #101011;
        }
        .container {
            border-radius: 4px;
            background: #040404;
            margin-top: 60px;
            .every-ico{
                cursor: pointer;
                color: #687d84;
                display: inline-block;
            }
            .loading-dv{
                left: 40%;
                top: 150px;
                width: 200px;
                height: 100px;
                position: fixed;
                border-radius: 3px;
                display: inline-block;
                background: rgba( 255, 255, 255, 1 ) url('http://opinion.com/images/big-snake.gif') 50% 50% no-repeat;
            }
            .dv-ph-ctnr{
                padding: 0;
                height: 100%;
                position: relative;
                .ph_header{
                    z-index: 8;
                    right: 10px;
                    position: absolute;
                    .ph-close{
                        color: #fff;
                        font-size: 25px;
                        cursor: pointer;
                    }
                }
                .rght-b{
                    padding: 30px 10px 10px 0;
                    .cmt-ctnr{
                        margin-bottom: unset !important; 
                        padding: 4px;
                        border: 1px solid #dedbdb;
                        border-radius: 2px;
                    }
                    .dynamic-partInCommentForm{
                        padding: unset !important;
                    }
                }
                .actties-ctnr{
                    height: -webkit-calc(100% - 60px);
                    height: -moz-calc(100% - 60px);
                    height: -o-calc(100% - 60px);
                    height: calc(100% - 60px);
                    .gComment{
                        padding-top: 55px !important; 
                    }
                }
                .ph-ctnr-a {
                    height: 100%;
                    .ph-rght {
                        z-index: 5;
                        background-color: #040404;
                    }
                    .ph-ctnr-b{
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 3px;
                        .ph-lft {
                            height: 100%;
                            border-radius: 3px;
                            position: relative;
                            background: #040404;
                            vertical-align: top;
                            display: inline-block;
                            .nav-pic-lft, .nav-pic-rght{
                                position: absolute;
                                z-index: 3;
                                .prev-ph-btn, .nxt-ph-btn{
                                    cursor: pointer;
                                    font-size: 28px;
                                }
                            }
                            &:hover{
                                .shadow{
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    opacity: 1;
                                    position: absolute;
                                    -webkit-box-shadow: inset 200px -19px 44px 12px rgba(0, 0, 0, 0.73);
                                    -moz-box-shadow: inset 200px -19px 44px 12px rgba(0, 0, 0, 0.73);
                                    box-shadow: inset 200px -19px 44px 12px rgba(0, 0, 0, 0.73);
                                }
                                .ph-lft-tp, .mdl-ct, .ph-lft-btm{
                                    opacity: 1 !important;
                                }
                            }
                            .ph-lft-btm, .mdl-ct, .ph-lft-tp, .shadow{
                                opacity: 0;
                                -webkit-transition: opacity .6s ease-in-out .6s;
                                    -moz-transition: opacity .6s ease-in-out .6s;
                                        transition: opacity .6s ease-in-out .6s;
                            }

                            .ph-lft-tp{
                                position: absolute;
                                z-index: 2;
                                width: 100%;
                                color: #fff;
                                padding: 10px;
                                .ph-lft-tp-r{
                                    display: inline-block;
                                    vertical-align: top;
                                    .tp-r-avatar{
                                        display: inline-block;
                                        /*border: 1px solid #ffc;*/
                                        border-radius: 2px;
                                        color: #aab1af;
                                    }
                                    .tp-r-name{
                                        display: inline-block;
                                        vertical-align: top;
                                        position: relative;
                                        top: -4px;
                                        left: 4px;
                                        .pst-aut-nm{
                                            color: #aab1d7;
                                            font-size: 13px;
                                            font-weight: 500; 
                                        }
                                    }
                                }
                                .ph-lft-tp-l{
                                    display: inline-block;
                                    position: absolute;
                                    right: 10px;
                                    top: 0;
                                    .dte-ctnr{
                                        display: inline-block;
                                        margin-right: 10px
                                    }
                                    .img-opt{
                                        display: inline-block;
                                    }
                                }
                            }
                            .ph-rght-mdl{
                                display: inline-block;
                                position: relative;
                                height: 100%;
                                width: 100%;
                                color: #ffe;
                                margin: 0 auto;
                                .mdl-ct{
                                    position: absolute;
                                    margin: 5px 10px;
                                    z-index: 2;
                                    top: 70px;
                                    width: 300px;
                                    max-height: 220px;
                                    overflow: hidden;
                                    .emojione{
                                        height: 15px;
                                    }
                                    p{
                                        margin: 0 0 4px;
                                        line-height: 16px;
                                    }
                                }
                                .mdl-img{
                                    position: relative;
                                    margin: 0 auto;
                                    text-align: center;
                                    align-content: center;
                                    -webkit-box-align: center;
                                    img {
                                        height:auto;
                                        display: block;
                                        margin: 0 auto;
                                    }
                                }
                            }
                            .ph-lft-a{
                                position: relative;
                                height: 100%;
                                .ph-lft-btm{
                                    position: absolute;
                                    padding: 5px;
                                    width: 100%;
                                    z-index: 2;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }

            .postShare-foo{
                position: relative;
                padding: 3px;
                shr-foo-lft{
                    display: inline-block;
                }
                .hidden-btn{
                    visibility: hidden;
                }
            }
            .postShare-content-user-a{
                position: absolute;
                display: inline-block;
                right: 5px;
                bottom: 5px;
                border-radius: 4px;
            }
            .pst-usr-nm-dte{
                display: inline-block;
                top: -1px;
                margin-left: 3px;
                position: relative;
                vertical-align: top;
            }
            .postShare-content-by{
                font-size: 13px;
                font-family: sans-serif;
                display: block;
            }
            .postShare-content-user-b {
               position: relative;
                display: block;
            }
            .postShare-content-b{
                background: #fbfdfd;
                min-height: 80px;
                max-height: 180px;
                overflow: hidden;
                .pst-img-lk {
                    display: inline-block;
                    height: 230px;
                    overflow: hidden;
                }
            }
            .shr-frm-pr-pic{
                display: inline;
                width: 35px;
                height: 35px;
            }
            .lft-pst-shr-frm{
                display: inline-block;
                position: relative;
                left: 5px;
                top: 5px; 
                border-top: 1px solid #e7e8e9;
                border-radius: 3px;
                background: #f0f1f1;
            }
            .pst-shr-ctnr-usr-btm{
                margin-top: 2px;
                height: 42px;
                .dv-pic{
                    display: inline-block !important;
                }
                .postShare-createdAt{
                    font-size: 11px;
                    color: #6d6f7d;
                }
            }
            .postShare-message{
                background-color: #e7eaea;
            }
            .postShare-message-a{
                padding-bottom: 10px;
                background: #ffffff;
                border-bottom: 1px solid #dcdfe2;
                border-left: 1px solid #dcdfe2;
                width: 471px;
                border-bottom-left-radius: 3px;
                position: relative;
                left: 10px;
                vertical-align: top;
                display: inline-block;
                .lft-shr-frm-btm{
                    padding: 0px;
                    position: relative;
                    left: 4px;
                    top: 5px
                }
                .dv-ttrea-share-ctnr{
                    margin: 0px 10px;
                    border: 1px solid #e7e8e9;
                    border-radius: 2px;
                    position: relative;
                    padding: 1px 4px;
                    .sp-ttrea-shr-ctnr {
                        min-height: 45px;
                    }
                }
            }
        }
    }
}