.hm-container.post{
	display: block;
	width: 100%;
	position: relative;
	.cter-dv{
	    width: 500px;
	    display: inline-block;
	    margin-left: 12px;
		.center-bd{
			display: block;
			.center-bd-a{
			    background: #fff;
			    border: 1px solid;
			    border-color: #bfc6d4;
			    position: relative;
			    border-radius: 5px;
			}
		}
	}
	.pst-aut-nm{
		color: #0f5b9c;
    	font-size: 14px;
	}
	.rght-pst-dv-aut{
	    margin-left: 10px;
	}
	.postContent{
	    color: rgba(15, 16, 16, 0.8);
	    font-size: 15px;
	    font-family: Helvetica, Arial, sans-serif;
        margin: 0px 0 5px;
	}
	.react-fine-uploader-file-input-container{
		margin-right: 5px;
	}
	.draftJsEmojiPlugin__emojiSelectPopover__1J1s0{
	    right: 0 !important;
    	top: 13px;
    	bottom: unset !important;
	}

	.rght-dv-abs{
	    position: absolute;
	    right: 69px;
	    top: -13px;
	    min-width: 200px;
	    height: 100vh;
	    .psts-top-a, .psts-top-b{
	    	position: relative;
	    	height: 100%;
	    }
	    .scr-btm{
    	    position: absolute;
    		bottom: 100px;
	    }
	    .scr-tp{
    	    position: absolute;
    		bottom: 50px;
	    }
	}
}