* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

$blue-color: #007bff;
$grey-color: #aaa;
$dark-grey-color: #ccc;
$light-grey-color: #eee;

body {
  background: #eee;
  margin: 0;
}
.MeetYou{
    .frm-contrib-ctnr{
        right: 10px;
        top: 106px;
        background: #fff;
        width: 300px;
        max-height: 100vh;
        background: unset;
        border: unset;
        .frm-contrib-ctnr-b{
            border: 1px solid #c7d2d8;
            margin-bottom: 11px;
        }
        .frm-select-hd{
            padding: 10px;
        }
        .pst-frm-select-bd{
            height: 220px;
            margin: 0 0 5px 6px;
        }
        .pst-slct-usr-dv{
            padding: 5px 2px;
            height: 56px;
        }
        .pst-slct-usr-pic{
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
        .pst-slct-usr-lk-nm{
            font-weight: 600;
            color: #068290;
        }
        .pst-slct-usr-sp-usrnm{
            left: 53px;
            bottom: 19px;
        }
    }
}

.Container {
  height: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* min-width: 1024px; */
  /* margin-top: 15px; */
}

.Sidebar {
    position: fixed;
    left: 10px;
    top: 2px;
    width: 320px;
    z-index: 1; /* TODO important */
}

.Main {
  flex: 0 0 530px;
  padding: 15px;
  background: #fff;
  border: 1px solid $dark-grey-color;
  border-top: none;
  border-bottom: none;
  border-radius: 5px;

  &-subtitle {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 19px;
    color: $grey-color;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 13px;
  }
}
.card-outer{
    border: 1px solid #c3d0f7;
}
.CardOpt {
    background: rgba(19, 21, 21, 0.81);
    padding: 15px 10px;
    margin-bottom: 10px;
    margin-top: 105px;
    height: 100vh;
    position: relative;
    /* display: none; */
    // display: flex;
    // .active{
    //     display: block !important;
    // }
    .add-edtx-btn, .add-tx-btn{
        background: #000;
        width: 138px;
        height: 100px;
        color: #fff;
        padding: 10px;
        text-align: center;
        vertical-align: top;
        text-transform: capitalize;
        flex: auto;
        margin: 5px 5px;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        padding: 20px 5px;
    }
    form{
        padding: 5px 10px;
        position: relative;
        /* height: 50px; */
    }
  &:last-child {
    margin-bottom: 0;
  }

  &-header {
    padding: 4px;
    margin-bottom: 14px;
    border-bottom: 1px solid $light-grey-color;
    user-select: none;

    h4 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 0.5px;
      color: $grey-color;
      font-weight: 400;
    }
  }
}

.Button {
  display: block;
  width: 100%;
  height: 50px;
  padding: 8px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  background-color: $blue-color;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid darken($blue-color, 5%);

  &:hover {
    background-color: lighten($blue-color, 10%);
  }
}

.ImageCanvas {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
  .konvajs-content{
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  canvas {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
  }
}

.SearchBar {
    padding: 4px 10px;
    display: block;
    width: 100%;
    margin: 4px 0;
    border: none;
    font-size: 13px;
    outline: none;
    margin-top: -4px;
    background: #000;
}

.ImagePicker {
    width: 100%;
    flex-shrink: 2;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;

  &-image {
    cursor: pointer;
    padding: 4px 8px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    img {
        max-width: 194px;
        max-height: 90px;
        display: block;
        opacity: 1;
        transition: 5s ease-in-out all;
        border: 1px solid #73797b;
    }

    .OptionWrapper--selected {
      img {
        opacity: 0.8;
      }
    }
  }
}

.SizePicker {
  display: flex;
  justify-content: space-between;
  user-select: none;

  &-size {
    height: 50px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    cursor: pointer;

    &--tall {
      flex: 0 0 35px;
    }

    &--square {
      flex: 0 0 50px;
    }

    &--wide {
      flex: 0 0 90px;
    }

    .OptionWrapper {
      padding-top: 20px;
    }
  }
}

.Credit {
  padding-top: 25px;
  color: #555;
  font-size: 14px;

  a, a:visited {
    color: #555;
    font-weight: 400;
  }

  a:hover {
    color: #333;
  }
}

.FiltersPicker {
    font-size: 13px;
    position: absolute;
    top: 35px;
    z-index: 7;
    width: 200px;
    left: -16px;
    min-height: 28px;
    padding: 2px 5px;
}

.TextPropsPicker {
  p {
    select {
      margin-left: 10px;
      font-size: 16px;
    }

    margin: 6px 0;
  }

  &-colors {
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  &-color {
    flex: 0 0 30px;
    height: 30px;
    cursor: pointer;
  }

  &-style {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 16px 0;
    user-select: none;
  }

  &-style-bold, &-style-italic {
    flex: 1 1 auto;
    cursor: pointer;
    text-align: center;

    span {
      font-size: 13px;
      line-height: 30px;
    }

    &:first-child {
      margin-right: 10px;
    }
  }

  &-style-bold span {
    font-weight: bold;
  }

  &-style-italic span {
    font-style: italic;
  }
}

.OptionWrapper {
  border-radius: 3px;
  border: 1px solid $light-grey-color;
  transition: 0.5s ease-in-out border;
  position: relative;

  &--border-thin-grey {
    border: 1px solid $light-grey-color;
  }

  &--border-thick-transparent {
    border: 2px solid transparent;
    border-radius: none;
  }

  &, &-w, &-w > * {
    width: 130px;
    height: 90px;
  }

  &--size-normal &-w:before {
    height: 20px;
    width: 20px;
    top: -10px;
    right: -10px;
    font-size: 12px;
    line-height: 20px;
  }

  &--size-small &-w:before {
    height: 14px;
    width: 14px;
    top: -7px;
    right: -7px;
    font-size: 8px;
    line-height: 14px;
  }

  &-w {
    &:before {
      display: block;
      background: $blue-color;
      border-radius: 50%;
      border: 1px solid #fff;
      position: absolute;
      content: "\2713";
      color: #fff;
      z-index: 9;
      text-align: center;
      transition: 0.5s ease-in-out opacity;
      opacity: 0;
    }
  }

  &--selected {
    border-color: $blue-color;

    .OptionWrapper-w:before {
      opacity: 1;
    }
  }
}



// http://projects.lukehaas.me/css-loaders/
.Spinner:before,
.Spinner:after,
.Spinner {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.Spinner {
  color: #666;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.Spinner:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.Spinner:after {
  left: 3.5em;
}
.Spinner:before,
.Spinner:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.div-txt-edit{
    position: relative;
    min-height: 70px;
    width: 100%;
    border: 1px solid #c3cfd6;
    background: #fff;
    // margin-top: 10px;
    .draftJsEmojiPlugin__emojiSelectPopover__1J1s0{
        bottom: 35px;
        left: 0px;
    }
    .editor-outer {
        padding: 1px;               //Important cause it will have consequance into generated Card Image
        border: 1px solid #9db0bf;
    }
    .expandingArea{
      /* min-height: 55px;
      border-radius: 6px;
      padding: 4px 7px; */
    }
    .btm{
        position: relative;
        top: -40px;
        .emoji-dv > div {
            position: absolute;
            bottom: 0;
        }
        .draftJsEmojiPlugin__emojiSelectButton__3sPol{
            top: unset;
        }
    }
    .public-DraftStyleDefault-block{
        font-family: Arial;
        &>span{
            font-family: inherit;
        }
    }
    .emoji-dv{
      position: absolute;
      right: 100px;
      & > div{
        top: -5px;
      }
    }
    .save-dv{
        position: absolute;
        right: 22px;
        button{
            padding: 3px 13px;
        }
    }
    .sbm-dv{
        display: inline-block;
        vertical-align: top;
    }
    button.add-text{
      padding: 1px 4px;
      min-width: 70px;
      background: #0450a0;
      color: #fff;
      height: 26px;
    }
}
.meetyou-foot{
  .foo-a{
    font-size: 12px;
    display: flex;
    color: #65937e;
  }
}
.Menubar{
    &.top{
        position: fixed;
        left: 10px;
        right: 10px;
        margin: auto;
        background: #fff;
        z-index: 15;
        border: 1px solid #d7d8da;
        height: 55px;
        top: 55px;
        border-color: transparent #c0c5d0 #c0c5d0 #c0c5d0;
    }
    .Menubar-a{
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
    }
    .Menubar-lft{
        flex: 0 0 319px;
        border-right: 1px solid #d8e0e4;
    }
    .Menubar-rght{
        right: 0;
        width: 270px;
        height: 100%;
        /* position: absolute; */
        /* border-left: 1px solid #d8e0e4; */
        color: #fff;
        text-transform: capitalize;
        margin-right: 20px;
        transform: translate(0%, 1%);
        li.item{
            margin-right: 3px;
        }
        button.send, button.download{
            background-color: #0da9bb;
            border-color: #0294a5;
        }
        button.send{
            .btn-ico{
                background: transparent url(http://opinion.com/images/1608828-48.png) 50% 50% no-repeat;
            }
        }
        button.download{
            .btn-ico{
                background: transparent url(http://opinion.com/images/172461-48.png) 50% 50% no-repeat;
            }
        }
        button{
            min-width: 60px;
            text-transform: capitalize;
            &>div{
                display: inline-block;
                vertical-align: top;
            }
            .btn-ico{
                width: 24px;
                height: 19px;
                opacity: 0.7;
                background-size: contain !important;
                margin-right: 5px;
            }
        }
    }

    .sub-menub-lst{

    }

    .police{
        ul{
            height: unset !important;
            position: relative;
            bottom: 5px;
        }
    }

    ul{
        display: flex;
        padding: 0;
        height: 100%;
        li{
            list-style: none;
            flex: auto;
            /* border-left: 1px solid #ccc; */
            height: 100%;
            padding: 5px;
            position: relative;
        }
    }
    .sub-menub{
        position: relative;
        padding: 5px;
        display: block;
        height: 100%;
    }

    .ico{
        width: 35px;
        cursor: pointer;
        position: relative;
        /* right: 0;
        left: 0; */
        margin: auto;
        background-size: cover;
        padding: 5px;
    }
    .Menubar-lft{
        .edittext{
            height: 35px;
            background: transparent url(http://opinion.com/images/2290864-48-ed.png) 50% 50% no-repeat;
        }
        .image{
            height: 37px;
            top: 1px;
            background: transparent url(http://opinion.com/images/2305629-48.png) 50% 50% no-repeat;
        }
        .modele{
            width: 40px;
            height: 45px;
            top: -2px;
            /* margin: auto; */
            background: transparent url(http://opinion.com/images/if_app_window_107230.png) 50% 50% no-repeat;
            opacity: 0.7;
            background-size: contain;
        }
        .fill{
            width: 31px;
            height: 31px;
            top: 4px;
            margin: auto;
            background: transparent url(http://opinion.com/images/352891-48.png) 50% 50% no-repeat;
            opacity: 0.7;
        }
        .shape{
            width: 38px;
            height: 39px;
            top: 0px;
            margin: auto;
            background: transparent url(http://opinion.com/images/if_pentagon_1597480.png) 50% 50% no-repeat;
            opacity: 0.7;
        }
    }
    .textColor{
        .ico{
            width: 24px;
            height: 19px;
            background: transparent url(http://opinion.com/images/352385-48.png) 50% 50% no-repeat;
            opacity: 0.7;
        }
        .photoshop-picker {
            position: absolute;
            bottom: 180px;
            left: 0;
        }
    }
    .bold{
        .ico{
            width: 18px;
            height: 16px;
            /* top: 10px; */
            /* margin: auto; */
            background: transparent url(http://opinion.com/images/3671764-48.png) 50% 50% no-repeat;
            opacity: 0.7;
        }
    }
    .italic{
        .ico{
            width: 19px;
            height: 19px;
            /* top: 10px; */
            /* margin: auto; */
            background: transparent url(http://opinion.com/images/if_italic_2561454.png) 50% 50% no-repeat;
            opacity: 0.7;
        }
    }
    .underline{
        .ico{
            width: 22px;
            height: 21px;
            /* top: 10px; */
            /* margin: auto; */
            background: transparent url(http://opinion.com/images/352397-48.png) 50% 50% no-repeat;
            opacity: 0.7;
        }
    }
    .paragraph {
        .ico{
            opacity: 0.7;
            cursor: pointer;
            /* position: absolute;
            bottom: 5px; */
            background-size: cover;
        }
    }
    .alignLeft .ico{
        width: 29px;
        height: 30px;
        background: transparent url(http://opinion.com/images/103726-48.png) 50% 50% no-repeat;
    }
    .alignCenter .ico{
        width: 29px;
        height: 30px;
        background: transparent url(http://opinion.com/images/103724-48.png) 50% 50% no-repeat;
    }
    .alignRight .ico{
        width: 29px;
        height: 30px;
        background: transparent url(http://opinion.com/images/103727-48.png) 50% 50% no-repeat;
    }
    .alignJustify .ico{
        width: 29px;
        height: 30px;
        background: transparent url(http://opinion.com/images/103725-48.png) 50% 50% no-repeat;
    }
    .filter .ico{
        width: 29px;
        height: 30px;
        background: transparent url(http://opinion.com/images/1214961-48.png) 50% 50% no-repeat;
        opacity: 0.7;
        cursor: pointer;
        position: relative;
        background-size: cover;
    }
    .crop .ico{
        width: 29px;
        height: 30px;
        background: transparent url(http://opinion.com/images/3427267-48.png) 50% 50% no-repeat;
        opacity: 0.7;
        cursor: pointer;
        position: relative;
        background-size: cover;
    }
    .transparency .ico{
        width: 29px;
        height: 30px;
        margin: auto;
        background: transparent url(http://opinion.com/images/352891-48.png) 50% 50% no-repeat;
        opacity: 0.7;
    }
    .ico.active{
        background-color: #b9c1c3;
        border: 1px solid #a7afb1;
        /* margin-bottom: 10px; */
    }
    .last .ico{
        width: 23px;
        height: 23px;
        background: transparent url(http://opinion.com/images/183252-48.png) 50% 50% no-repeat;
        opacity: 0.7;
        cursor: pointer;
        position: relative;
        background-size: cover;
    }
    .next .ico{
        width: 23px;
        height: 23px;
        background: transparent url(http://opinion.com/images/183254-48.png) 50% 50% no-repeat;
        opacity: 0.7;
        cursor: pointer;
        position: relative;
        background-size: cover;
    }
    .move-zIn-top .ico{
        width: 20px;
        height: 20px;
        background: transparent url(http://opinion.com/images/1063916-48.png) 50% 50% no-repeat;
        opacity: 0.7;
        cursor: pointer;
        position: relative;
        background-size: cover;
    }
    .move-zIn-bottom .ico{
        width: 20px;
        height: 20px;
        background: transparent url(http://opinion.com/images/1063885-48.png) 50% 50% no-repeat;
        opacity: 0.7;
        cursor: pointer;
        position: relative;
        background-size: cover;
    }
}

.Menubar-ctr{
    .undo-ctrn{
        button{
            background: none;
            border: none;
            outline: none;
            position: relative;
            top: 9px;
        }
    }
    &.top{
        width: calc(100% - 541px); /*541 = 319 + 222*/
        position: relative;
    }
    .HMenu{
        height: 100%;
        width: 100%;
        display: flex;
        .translate-lft-btn{
            .ico{
                position: absolute !important;
                width: 15px !important;
                height: 100%;
            }
        }
    }
    .HMenu-a{
        position: relative;
        // overflow: hidden;
        width: 100%;
        display: flex;
        /* &>div{
            display: flex;
        } */
    }
    .sub-m{
        flex: 0 0 250px;
        border-right: 1px solid #dee3e6;
        position: relative;
        height: 100%;
        .inactive{
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            z-index: 9;
            background: #c5cbce;
            opacity: 0.4;
        }
        &.image{
            .item{
                &>div{
                    position: absolute;
                    bottom: 10px;
                    margin: 0 10px;
                }
            }
        }
        .crop-btn-ctnr {
            position: absolute;
            top: 25px;
            left: -40px;
            background: #fff;
            z-index: 6;
            border: 1px solid #cad5da;
            padding: 13px 15px;
            width: 250px;
        }
        &:last-child{
            border-radius: none;
        }
        .item-top{
            height: 35px;
            display: flex;
            position: relative;
            margin: 6px 0 10px;
            &>div{
                flex: auto;
                margin: 0 6px;
                font-size: 13px;
            }
            .fontSize{
                width: 15px;
            }
        }
    }
}
.work-space{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 6px;
}
.work-space-a{
    position: relative;
    left: 0;
    right: 0;
    display: block;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    margin-top: 62px;
}
.page-a{
    position: relative;
    .page-b{
        position: relative;
        background: #fff;
        border: 1px solid #b1bdc3;
        display: inline-block;
    }
}
.EditorSurface{
    min-height: 75px;
}
.EditorMenubar-ctr{
    margin-top: 7px;
    position: relative;
    .HMenu-a{
        border-top: 1px solid #dee3e6;
    }
    .sub-m{
        height: 75px;
        padding: 3px;
    }
    .paragraph{
        .ico{
            position: absolute;
            bottom: 2px;
        }
    }
}

/* very important & applyed to span,  on customStyles Draftjs */
[data-text="true"]{
    font-family: inherit !important;  //!important;
}
.HtmlContent * {
    font-family: inherit;
}