.hm-container.search{
	margin-top: 12px;
	.hm-frst-blk{
	    background: #fff;
	    height: 340px;
	    border: 1px solid #c9d0d4;
	    border-radius: 5px
	}
	.stk-tri-ctnr{
		padding-top: 5px;
	}
	.stk-tri-dv-a{
		padding: 0px;
	}
	.stk-tri-h-ctnr.empty-result{
		color: #5d767b;
	    font-weight: 600;
	    font-size: 14px;
	    text-align: center;
	    top: 110px;
	    position: relative;
	}
	.stk-tri-dv{
    	width: 720px;
		background-color: #f1f7f5;
        border: 1px solid #d4d8da;
    	border-radius: 5px;
	    max-height: 163px;
	    z-index: 15;
	    display: inline-block;
	    text-align: center;
	    vertical-align: text-bottom;
	    .stk-tri-ctnr{
	    	&> div {
	    		display: inline-block;
			    width: 150px;
			    padding: 5px;
			    vertical-align: top;
	    		&.active {
	    			border-bottom: 2px solid #939798
	    		}
	    	}
	    }
	    .tri-chd-lk{
	    	display: block;
		    font-weight: 600;
		    color: #63768e;
		    font-size: 12px;
		    letter-spacing: .7px;
		    text-transform: capitalize;
		    padding: 5px;
	    }
	}
	#hm_main_blk{
		margin-left: 291px;
		margin-top: 0px !important;	
	}
	.home-center-div{
		display: inline-block;
	}
	.nav-mnu-dv-a{
		.nav-mnu-chld{
		    width: 60px;
		    .nav-mnu-chld-a{
		    	height: 100%;
		    }
			&.active {
				background: #f4f7f6;
			    border: 1px solid #d3d9de;
			}
		}
		.sh-nav-chld-lk{
		    color: #0e0e0e;
		    padding: 15px 5px;
		    margin: 1px 0;
		    letter-spacing: 0.6px;
		    width: inherit;
		    font-size: 13px;
		    font-weight: 600;
		    display: block;
		    height: 100%;
		}
	}
}