/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 16, 2015, 5:23:46 PM
    Author     : Cedrick
*/
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }
.bdy-children{
    margin-top: 49px;
    position: relative;
    flex: 1 1 auto; /*TODO explain*/
    display: flex;
    &> div {
        display: block;
        width: 100%;
    }
}
.bdy-children-a{
    display: flex;
    .out-auth{
        width: 100%;
    }
}
input {
	outline: none;
}
.wel-bd-ctnr {
	position: relative;
	width: 100%;
}
.wel-bd-ctnr-a{
	position: relative;
}


#social-block-right{
  padding: 0;
}

#social-block-left{
    padding-left:7%;
}
/* spacing between middle columns */
.row.wide-gutter [class*='col-'] {
  padding-right:20px;
  padding-left:20px;
}

.reg-ctnr{
	margin-top: 90px;
	position: relative;
}
.not-found-dv{
    top: 250px;
    left: 0;
    position: fixed;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    background: #fff;
    text-align: center;
    min-height: 90px;
    padding: 30px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #ced4ea;
    border-radius: 4px;
}
.LoadingComponent{
    width: 32px;
    height: 32px;
    top: -2px;
    /* margin: auto; */
    background: transparent url(http://opinion.com/images/ajax-loader-cmt-img.gif) 50% 50% no-repeat;

    background-size: contain;
}
