/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 16, 2015, 5:23:46 PM
    Author     : Cedrick
*/
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }
.bdy-children{
    margin-top: 49px;
    position: relative;
    flex: 1 1 auto; /*TODO explain*/
    &> div {
        display: block;
    }
}
input {
	outline: none;
}
.wel-bd-ctnr {
	position: relative;
	width: 100%;
}
.wel-bd-ctnr-a{
	position: relative;
}
.nav-sign-in-d,
.regist-f-ctnr{
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
}
.regist-f-ctnr{
	margin-top: 150px;
}
.regist-f-ctnr-a{
    width: 352px;
    position: relative;
}
.sign-ttl {
    font-size: 19px;
    font-weight: 600;
    display: block;
    position: relative;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: #1a799f;
    padding-bottom: 3px;
    text-align: right;
}
.h-sign-sect {
    /* background-color: #e0e3e4; */
    /*-webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0, 0.05);*/
}

.fos_user_registration_register {
    position: relative;
    width: 300px;
}
.signup-form{
	position: relative;
	#registration_firstname{
		margin-right: 8px;
	}

	#registration_firstname,
	#registration_lastname{
		width: 170px;
    	display: inline-block;
	}
}
.in-sign-up {
    margin-bottom: 10px;
    font-size: 17px;
    padding: 3px 4px;
    height: 35px;
    border-radius: 3px;
    border: none;
    width: 100%;
}
form.fos_user_registration_register > div{
    display: block;
    position: relative;
    height: 35px;
}
select#fos_user_registration_form_birthdate_month,
select#fos_user_registration_form_birthdate_day,
select#fos_user_registration_form_birthdate_year {
    border: 1px solid #bfc7ca;
    margin: 0px 0px 2px 8px;
    border-radius: 2px;
    outline: none;
    height: 30px;
    width: auto;
}
.fld-wrp{
    position: relative;
    display: inline-block; 
    .flash {
        position: absolute;
        min-width: 254px;
        left: 360px;
        top: 9px;
        color: #ce2828;
        font-size: 13px;
        font-weight: 600;
        &.firstname{
            right: 180px !important;
            left: auto;
            text-align: right;
        }
        &.lastname{
            left: 180px !important;
        }
    }
    &.firstname{

    }
    &.lastname{
        
    }
    &.email{
        width: 100%;
    }
    &.pwd-fisrt{
        width: 100%
    }
    &.pwd-second{
        width: 100%
    }
    &.gender{
        width: 100%
    }
}
#fos_user_registration_form_birthdate {
    display: inline-block;
    position: absolute;
    right: 0;
    font-weight: 600;
    color: #5e777b;
}
.form-registration-birthdate-lab {
    top: 0px;
    position: relative;
    font-size: 16px;
    color: #667886;
}
div.form-registration-gender {
    position: relative;
    right: 0;
    color: #0e5f80;
    padding-right: 2px;
    margin-bottom: 5px;
    font-size: 17px;
    text-align: right;
    text-transform: capitalize;
    &::first-child {
	    margin-right: 14px;
	}
    label {
    	font-weight: 500;
    	margin-bottom: 0px;
    }
}
.form-registration-gender > input {
    margin: 3px 4px 3px 3px;
    position: relative;
    top: 1px;
}
.regist-sbm-type-ctnr{
	position: relative;
    width: 100%;
    right: 1px;
    height: 30px;
}
.form-registration-submit{
    position: absolute;
    right: 0;
    width: 90px;
    color: #fff;
    border: 1px solid #34b944;
    background-color: #26bc84;
    height: 30px;
    border-radius: 2px;
    font-weight: 500;
    letter-spacing: 1.1px;
    font-family: sans-serif;
}

#social-block-right{
  padding: 0;
}

#social-block-left{
    padding-left:7%;
}
/* spacing between middle columns */
.row.wide-gutter [class*='col-'] {
  padding-right:20px;
  padding-left:20px;
}

.reg-ctnr{
	margin-top: 90px;
	position: relative;
}
