<div className="row">
	<div className="col-md-4 col-md-offset-4">
	    {% block register %}
		    {{ include('@OPUser/Registration/register.html.twig') }}
		{% endblock register %}
	</div>
</div>
<div class="foo">
	this is the opinion foot
</div>