<div class ="" style="width: 100%; height: 80px; border: 1px solid #DCDCDC; top: 5px"> 
    <div class ="" style=""> 
        <div class ="" style=""> 
            
        </div>
    </div>
</div>
<div class ="" style="width: 100%; height: 80px; border: 1px solid #DCDCDC; top: 5px"> 
    <div class ="" style=""> 
        <div class ="" style=""> 
            
        </div>
    </div>
</div>
<div class ="" style="width: 100%; height: 80px; border: 1px solid #DCDCDC; top: 5px"> 
    <div class ="" style=""> 
        <div class ="" style=""> 
            
        </div>
    </div>
</div>