<div class="usr-infos-ctnr">
	<div class="usr-infos-ctnr-a">
		<div class="usr-infos-block about">
			<ul>
				<li ng-repeat="(key, info) in infos">
					<span class="usr-info-ky-txt">[[key]]</span>
					<span class="usr-info-info-txt">[[info]]</span>
				</li>
			</ul>
		</div>
		<div class="usr-infos-block others">
			<!-- <ul>
				<li ng-repeat="(key, info) in infos">
					<span class="usr-info-ky-txt">[[key]]</span>
					<span class="usr-info-info-txt">[[info]]</span>
				</li>
			</ul> -->
		</div>
	</div>
</div>