{% extends "OPUserBundle::layout.html.twig" %}

{% trans_default_domain 'OPUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}
