.hm-container.group {
    &.new{
        .lft-dv-a{
            height: 200px;
            width: 450px;
            flex: none;
            margin: 0 12px;
            background: #fff;
        }
        .HMember-ctnr{
            width: unset;
            display: block;
            margin: unset !important;
            flex: none;
        }
        .sml-usr-lk{
            border: unset !important;
        }
    }
    .hm-main-blk-ctnr{
        /*width: 700px;
        min-height: 100px;*/
    }
    .grp-form{
        border: unset!important;
        margin-bottom: unset !important;
    }
    .grp-form-btm{
        position: absolute!important;
    }
    .hm_main_blk{
        padding: 0px 10px;
    }
    #hm_main_blk{
        margin-top: 0px;
    }
    .grp-lft-dv{
        /* width: 280px;
        min-height: 100vh; */
        /* position: fixed; */
        /* left: 0;
        top: 59px;
        z-index: 5; */
        /*background: #dee4e7;*/
        /*border-right: 1px solid #c2c5c5;*/
    }
    .cover_ctnr_0{
        left: 0px!important;
        margin-top: 10px;
        border: 1px solid #c8d3de;
        padding: 7px;
        background: #f1f2f3;
        /* width: 100% !important;*/
        .grp-top-lft{
            display: flex;
            flex: auto;
            width: 840px;
        }
        .grp-blc-lft-a{
            flex: auto;
        }
        .grp-top-content{
            width: 500px;
            flex: auto;
            background: #fff;
            margin: 2px 15px;
            padding: 0px;
            border: 1px solid #d0dce8;
            border-radius: 4px;
        }
        .lft-dv{
            flex: auto;
        }
    }
    .grp-top-a{
        display: inline-block;
    }
    .HMember-ctnr{
        width: 1080px;
        display: inline-block;
        margin: 5px 0px 0px;
        .sml-dv-usr-ctnr{
            width: unset;
            height: unset;
            border: unset;
            margin: 0 2px;
        }
        .sml-usr-lk{
            border: 1px solid #d0dce8;
            display: block;
        }
        .sml-usr-prof-pic{
            width: 40px;
            height: 40px;
        }
        .HMember-ctnr-a{
            /*padding: 3px 0;*/
            /* background: #fff; */
            /* height: 50px; */
            display: inline-block;
        }
    }
    .center-tp{
        position: relative;
        background: #ffffff;
        height: 280px;
        overflow: hidden;
        margin-bottom: 12px;
        /*border: 1px solid #c5c8cc*/
    }
    .home-center-div{
        width: 516px;
        margin-left: 280px;
    }
    .center-bd-empt-lst{
        width: 100%;
        background: #fff;
        font-size: 14px;
        color: #b1aeae;
        font-weight: 600;
        padding: 25px 10px;
        border-radius: 3px;
        border: 1px solid #c4c8c9;
        margin-bottom: 12px;
        text-transform: capitalize;
    }

    .show-grp-plus-intro{
        display: block;
        margin-top: 12px 0 0 10px;
        .avatar{
            margin-bottom: 10px;
        }
        .grp-top-avatar-img{
            display: inline-block;
            .img-dv-ctnr{
                display: inline-block;
            }
            img{
                width: 160px;
                height: 160px;
            }
        }

        .group-name{
            color: #2c4887;
            font-size: 17px;
            font-weight: 600;
        }
        .grp-intro-ul{
            padding: 0px;
            li{
                list-style: none;
            }
        }
    }
    .grp-intro-about-ctnr{
        position: relative;
        padding: 0px 1px 0px 15px;
        top: 15px;
    }
    .grp-intro-cont{
        font-size: 12px;
        color: #100e96;
        margin-top: 10px;
    }
    .grp-intro-hd{
        padding: 0px;
    }
    .pic-grp-list{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .pic-dv-grp-list{
        display: inline-block;
        vertical-align: top;
    }
}


.grp-form{
	width: 100%;
    background: #fff;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #c4c8c9;
    margin-bottom: 12px;
    .grp-form-tp{
        padding: 10px;
    }
    .inp-tgther{
    	margin-bottom: 30px;
        line-height: 16px;
    	label{
            margin-bottom: 10px;
    		color: #4e505c;
    		display: block;
    	}
    	.inp-elm{
    		display: block;
    	}
        .grp-inp-nm{
            height: 32px;
        }
    	input{
    		width: 300px;
		    padding: 0 5px;
		    border-radius: 2px;
		    border: 1px solid #e1e1e6;
    	}
    }

    .grp-form-btm{
    	position: relative;
    	width: 100%;
        height: 40px;
        padding: 0px 20px;
    	.grp-form-btm-rght{
    		position: absolute;
    		right: 20px;
            bottom: 25px;
    	}
    	.create-grp{
    		padding: 6px 30px;
    		border-radius: 2px;
    	}
    }
}