.profile_3{
	/*margin: 1px;*/
}

.min-prof-a{

}
.min-prof-b{
    font-size: 14px;
    /* font-weight: 600; */
    color: #101010;
    letter-spacing: .8px;
}
.min-prof-pic-a{	
    height: 130px;
    border-radius: 5px;
    position: relative;
}
.min-prof-pic-b{
	position: relative;
    height: 100%;
}
.mn-pic-ctnr{
    display: inline-block;
    position: relative;
    left: 4px;
    top: -53px;
    width: 50px;
    height: 50px;
}
.min-pic-img{
    display: block;
    height: 50px;
    border-radius: 50%;
}
.hm-edt-cov-pic{
    display: none;
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;
    padding: 1px 5px;
}
.hm-edt-prof-pic{
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 1px;
    right: 7px;
    color: #fff;
}
.min-conver{
	display: block;
	width: 100%;
	height: 100%;
    border-radius: 4px;
}
.min-conver-ctnr{
    width: 100%;
    display: block;
    height: 100px;
    position: relative;
    /*border: 1px solid #bbc1c4;*/
    border-radius: 3px;
    /*box-shadow: 0px 3px 8px 0px #232121, inset 0px 6px 20px 0px #00000030;
    -webkit-box-shadow: 0px 3px 8px 0px #23212157, inset 0px 6px 20px 0px #00000030;
    -moz-box-shadow: 0px 3px 8px 0px #23212157, inset 0px 6px 20px 0px #00000030;*/
    &:hover{
        .hm-edt-cov-pic{
            display: block !important;
        }
    }
}
.min-pic-container{
    display: inline-block;
    position: absolute;
    /*box-shadow: 1px 2px 12px 0px #0606067a, inset 0px 5px 19px 0px #0000007a;
    -webkit-box-shadow: 1px 2px 12px 0px #0606067a, inset 0px 5px 19px 0px #0000007a;
    -moz-box-shadow: 1px 2px 12px 0px #0606067a, inset 0px 5px 19px 0px #0000007a;*/
    &:hover{
        .hm-edt-prof-pic{
            display:block !important;
        }
    }
}
.hm-prof-conf{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 25px;
    color: inherit;
    border-radius: 4px;
    padding: 3px 4px;
    cursor: pointer;
    color: #3a7b8a;
    i {
        width: 25px;
    }
    &:hover {
        background-color: #dddfe0;
    }
}
.min-prof-name{
    font-size: 11px;
    position: relative;
    font-weight: 600;
}
.hm-prof-conf-txt{
    font-size: 12px;
    /*color: #343474;*/
    position: relative;
    top: -1px;
}
.min-prof-name::first-letter{
	text-transform: uppercase;
}
.min-nm-lk{
    display: block;
    position: absolute;
    letter-spacing: .5px;
    left: 58px;
    top: 29px;
    text-transform: capitalize;
    color: #337ab7;
}
.min-pic{
	width: 50px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #CBC5C5
}
.min-prof-not{
    border-radius: 2px;
    position: relative;
}
.min-prof-not a, .min-prof-not .min-prof-mor-opt{
    display: block;
    min-height: 25px;
    margin: 3px 0;
    color: #3a7b8a;
    border-radius: 4px;
    padding: 3px 4px;
    cursor: pointer;
    &:hover{
        background: #d5dce0;
    }
    i{
        width: 25px;
        color: inherit;
    }
}
.hm-edit-stt-lk{
    
}
.min-prof-not-a{
	margin: 0 0 12px;
}
.min-prof-not-b{
	margin: 0 0 10px;
    position: relative;
    .min-prof-not-b-a{
        position: relative;
    }
}

.min-mor-opt-ctnr{
    position: absolute;
    left: 275px;
    width: 230px;
    min-height: 350px;
    top: -190px;
    border-radius: 0px;
    background: #f1f7f5;
    padding: 10px 10px;
    border: 1px solid;
    border-color: transparent #ced2d4 transparent transparent;
}
.min-prof-not-c{
	margin: 0 0 10px;
}

.min-prof-not-child{
    font-size: 12px;
    font-family: sans-serif;
    position: relative;
    color: inherit;
}
.pr-h-store{
    display: none;
}