.nav-sign-in-d,
form.fos_user_registration_register > div{
    display: block;
    position: relative;
    height: 35px;
}
select#fos_user_registration_form_birthdate_month,
select#fos_user_registration_form_birthdate_day,
select#fos_user_registration_form_birthdate_year {
    border: 1px solid #bfc7ca;
    margin: 0px 0px 2px 8px;
    border-radius: 2px;
    outline: none;
    height: 30px;
    width: auto;
}
div.registration-birthdate{
    display: inline-block;
    margin: 5px 10px 5px 10px;
}
label.form-registration-gender, label.registration-birthdate{
    color: #8B8484;
    font-weight: 600;
    font-size: 13px;
    text-transform: inherit;
}
.form-registration-gender-lab{
    display: none;
}
.regist-f-ctnr{
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 120px 10px 20px;
    margin-left: auto;
    margin-right: auto;
    height: 390px;
    width: 500px;
    margin-top: 100px;
    border-radius: 7px;
}
.regist-f-ctnr-a{
    position: relative;
    height: 100%;
    width: 100%;
}
.sign-ttl {
    font-size: 18px;
    /* font-weight: 600; */
    display: block;
    position: relative;
    letter-spacing: 1px;
    color: #1a799f;
    margin: 0 0 25px 0;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #dde4e6;
}
.h-sign-sect {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f1f6f7;
    border: 1px solid #cad9e0;
    padding: 10px;
}

.fos_user_registration_register {
    position: relative;
    width: 300px;
}
.signup-form{
	position: relative;
	.firstname{
		margin-right: 8px;
	}

	.firstname,
	.lastname{
		width: 165px;
    	display: inline-block;
	}
}
.in-sign-up {
    font-size: 17px;
    padding: 3px 4px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #ddd;
    width: 100%;
}
#fos_user_registration_form_birthdate {
    display: inline-block;
    position: absolute;
    right: 0;
    font-weight: 600;
    color: #5e777b;
}
.form-registration-birthdate-lab {
    top: 0px;
    position: relative;
    font-size: 16px;
    color: #667886;
}
div.form-registration-gender {
    position: relative;
    right: 0;
    color: #0e5f80;
    padding-right: 2px;
    margin-bottom: 5px;
    font-size: 17px;
    text-align: right;
    text-transform: capitalize;
    &::first-child {
	    margin-right: 14px;
	}
    label {
    	font-weight: 500;
    	margin-bottom: 0px;
    }
}
.form-registration-gender > input {
    margin: 3px 4px 3px 3px;
    position: relative;
    top: 1px;
}
.regist-sbm-type-ctnr{
	position: relative;
    width: 100%;
    right: 1px;
    height: 30px;
}
.form-registration-submit{
    position: absolute;
    right: 0;
    width: 90px;
    color: #fff;
    border: 1px solid #34b944;
    background-color: #26bc84;
    height: 30px;
    border-radius: 2px;
    font-weight: 500;
    letter-spacing: 1.1px;
    font-family: sans-serif;
}
.in-sign-up-btm{
    position: absolute;
    bottom: 10px;
    right: 0px;
}
.fld-wrp{
    width: 162px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    .flash {
        position: absolute;
        min-width: 254px;
        left: 360px;
        top: 9px;
        color: #ce2828;
        font-size: 13px;
        font-weight: 600;
        &.firstname{
            right: 180px !important;
            left: auto;
            text-align: right;
        }
        &.lastname{
            left: 180px !important;
        }
    }
    &.firstname{

    }
    &.lastname{
        float: right;
    }
    &.email{
        width: 100%;
    }
    &.pwd-first{
        width: 100%
    }
    &.pwd-second{
        width: 100%
    }
    &.gender{
        width: 100%
    }
}