.nav-sign-in-d{
    position: absolute !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100% !important;
    padding: 10px 20px;
    bottom: 0;
}
.nav-sign-in-ip-d{
    display: inline-block;
    margin: 0 25px 0 0;
    vertical-align: top;
    height: 100%;
    width: 170px;
    & > div {
        position: absolute;
        bottom: 0;
    }
    .lgn-dv-initialize{
        color: #fdf4f4;
        font-size: 12px;
        display: inline-block;
    }
}
.nav-sign-in-ip-d::last-child {
    display: inline-block;
    margin: 0;
}
.nav-inp-control{
    padding: 4px 5px;
    font-size: 13px;
    letter-spacing: .3px;
    width: 170px;
    line-height: 1.42857143;
    height: 28px;
    color: #1d1919;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 2px;
}
.nav-sign-in-sbm-ctnr{
    display: inline-block;
    vertical-align: top;
    float: right;
}
.nav-sign-in-r{
    display: inline-block;
    position: relative;
    top: -2px;
    right: 0px;
    font-weight: 500;
    font-size: 12px;
    color: #4a5e76;
}
.nav-sign-in-ip-d #remember_me{
    position: relative;
    margin-right: 3px;
    top: 2px;
}
.nav-fS-in{
    position: relative;
}
.f-lgin-inpts{
    display: inline-block;
}
.f-lgin-btm{
    position: relative;
    top: 3px;
    input[type=checkbox] {
        display: inline-block;
    }
}
.f-lgin-btm-l{
    display: inline-block;
}
.f-lgin-btm-r{
    display: inline-block;
    position: absolute;
    right: 8px;
    font-size: 12px;
}
.out-lock{
    top: 32px;
    position: relative;
}

#_submit_login{
    margin-left: 10px;
    color: #fff;
    border: 1px solid #1c98ea;
    background: #1c98ea;
    font-weight: 600;
    padding: 2px 5px 4px;
    border-radius: 2px
}

.sect-frm-ctnr{
    background-color: #fff;
    padding: 20px 40px;
    position: relative;
    left: 0;
    top: 100px;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 460px;
    text-align: center;
    // height: 350px;
    border-radius: 8px;
    border: 1px solid #c0cad6;
    &.reset-req {
        position: absolute;
        form{
            position: relative;
            text-align: left;
            width: 310px;
            left: 0;
            right: 0;
            margin-right: auto;
            margin-left: auto;
            label{
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 13px;
            }
        }
        .wrp-req-tp{
            margin-bottom: 20px;
        }
        // width: 500px;
        .in-reset-pwd{
            margin-bottom: 10px;
            font-size: 17px;
            padding: 3px 4px;
            height: 35px;
            border: 1px solid #b4c1c7;
            width: 310px;
        }
    }
    .form-group{
        margin-bottom: 30px;
        input{
            background: #fff !important;
            width: 300px;
            border: 1px solid #d8ddef;
            height: 36px;
            padding: 4px;
            border-radius: 3px;
        }
    }
}
.sect-frm-ctnr > form {
    position: relative;
}
.frm-lgn-dv-ctnr{
    position: relative;
    font-family: sans-serif;
}
.frm-lgn-dv-ctnr #username,
.frm-lgn-dv-ctnr #password
{
    display: block;
    width: 100%;
    height: 35px;
    padding: 4px 6px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #bccace;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    /*-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.lgn-dv-g-rgstr-ctnr{
    border-top: 1px solid #e6dfdf;
    margin-top: 15px;
}
.lgn-dv-sbm-btn-ctnr{
    display: inline-block;
    position: absolute;
    right: 1px;
    button{
        width: 100px;
        // color: #0294a5;
        // font-weight: 600;
    }
}
.lgn-dv-sbm-btn-ctnr > input {
    display: inline-block;
    color: #fff;
    letter-spacing: .5px;
    border: 1px solid #0f6faf;
    background: #1078be;
    padding: 4px 4px;
    border-radius: 1px;
    min-width: 70px;
    font-size: 13px;
}
.frm-lgn-dv-ctnr-btm{
    position: relative;
    height: 40px;
}
.sect-frm-ctnr{
    .frm-lgn-tag{
        width: 300px;
        display: inline-block;
    }
    .wrp-req-btm{
        position: relative;
        height: 40px;
        padding: 2px;
    }
    .lgn-dv-initialize, .lft{
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 0;
        top: 10px;
        font-size: 14px;
    }
    .rght{
        display: inline-block;
        position: absolute;
        right: 1px;
    }

    .go-regiter-btn{
        margin-top: 20px;
        width: 300px;
        background-color: #0294a5;
        padding: 8px;
        border: 1px solid #098590;
        a{
            font-size: 14px !important;
        }
    }
}
.frm-lgn-tag{
    width: 300px;
    display: inline-block;
    letter-spacing: .8px;
    .f-lgin-btm-r{
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 1px;
        font-size: 13px;
    }
}
.frm-msg-ttl{
    font-size: 20px;
    /* font-weight: 600; */
    margin-bottom: 32px;
    color: #14181b;
    letter-spacing: 0.4px;
    font-family: sans-serif;
}
.sbmit-login {
    height: 28px;
    padding: 3px 5px;
    position: absolute;
    min-width: 58px;
    border-radius: 3px;
    font-size: 13px;
    bottom: 0;
    right: 0;
}