.nav-mnu-dv.setting{
	position: relative;
    padding: 12px 20px 0 0;
}
.stt-nav-chld-lk{
	color: #293c4c;
    padding: 5px;
    margin: 1px 0;
    letter-spacing: 0.6px;
    width: inherit;
    font-size: 12px;
    font-weight: 600;
    display: block;
    .txt-ctnr{
    	display: block;
    }
}
.hm-container.setting{
	.nm-form, .adr-form, .stt-form-ctnr, .ph-form {
		width: 220px;
		position: relative;
		.phone-frm-bdy{
			position: relative;
			margin-bottom: 12px;
		    border: 1px solid #ccc;
		    border-radius: 3px;
		    background: #fff;
		    padding: 1px 5px;
		    .react-phone-number-input{
		    	button, input {
		    		border-bottom: none;
		    	}
		    }
		}
		.nm-form-bdy{
			position: relative;
		}
		.nm-form-btm, .btm, .phone-frm-foo{
			position: relative;
			height: 30px;
			button{
				position: absolute;
    			border-radius: 2px;
				padding: 3px 7px;
				right: 0;
			}
		}
	}

	.ctact-ctnr-rght, .adr-ctnr-rght{
		.ctact-ctnr-opt{
			position: relative;
		}
		.ctact-ky, .adr-ky{
		    display: inline-block;
			vertical-align: top;
	    }
	    .ctact-val, .adr-val{
		    display: inline-block;
		    position: absolute;
		    right: 0;
		    top: -3px;
	    }
	}


	.sttg-lft-dv {
		position: fixed;
	    height: 100vh;
	    width: 280px;
	    background: #dee4e7;
	    border-right: 1px solid #c1c1c1;
	}
	.sttg-center-div{
	    position: relative;
	    margin-left: 290px;
	    /*padding-left: 10px;*/
	    min-height: 100vh;
	    width: 590px;
	    .inp-tgther{
	    	margin-bottom: 10px;
	    	label{
	    		display: block;
	    		margin-bottom: 2px;
	    		font-weight: 600;
	    		font-size: 12px;
	    		color: #666666;
	    	}
	    	.inp-elm{
	    		display: inline-block;
	    	}
	    	input{
    		    width: 220px;
			    padding: 6px;
			    height: 30px;
			    border-radius: 4px;
			    border: 1px solid #c7ced1;
	    	}
	    }
	}

	.ntf-ctnr{
    	min-height: 130px !important;
    	.ntf-ctnr-lft{
		    font-size: 13px;
		    font-weight: 600;
		    color: #75818b;
		    margin-bottom: 15px;
    	}
    	.ntf-ctnr-rght{
		    position: relative;
		    height: 40px;
		    padding: 10px 0;
    	}
    	.ntf-ctnr-opt{
		    width: 100%;
		    font-size: 12px;
		    color: #777a7f;
		    position: relative;
		    .ntf-ky{
	    	    display: inline-block;
				vertical-align: top;
		    }
		    .ntf-val{
	    	    display: inline-block;
			    position: absolute;
			    right: 0;
			    top: -3px;
		    }
    	}
    }

	.sttg-center-cmp-tp, .setting-tp-tag{
	    width: 100%;
	    background: #f1f5f7;
	    min-height: 100px;
	    padding: 10px 30px;
	    line-height: 18px;
	    /*border-bottom: 1px solid #ddd;*/
	    font-size: 13px;
	    color: #4b3f56;
	    font-family: sans-serif;
	    text-transform: capitalize;
	    /*border: 1px solid #c5ced3;*/
	    border-top: none;
	    border-radius: 2px;
	    margin-bottom: 12px;
	    .nm-ctnr-lft, .ctact-ctnr-lft, .adr-ctnr-lft{
    	    display: inline-block;
		    position: relative;
		    margin-bottom: 10px;
			color: #666666;
		    .nm-ctnr-lft-a{
    	        font-size: 14px;
			    font-weight: 600;
		    }
		    .ctact-ctnr-lft-a{
		    	font-size: 14px;
			    font-weight: 600;
		    }
	    }

	    
	    .nm-ctnr{
	    	min-height: 100px;
	    	border-bottom: 1px solid #ddd;
	    }

	    .stt-ctnr{
	    	padding: 5px 0;
	    	min-height: 75px;
    		border-bottom: 1px solid #ddd;
    		.stt-ctnr-lft{
    			font-size: 12px;
    			font-weight: 600;
    			margin-bottom: 6px;
    		}
    		.stt-ctnr-rght{
    			display: block;
    		}
	    }
	    
	    .lang-ctnr{
	    	padding: 5px 0;
	    	.lang-ctnr-lft{
	    		padding-bottom: 10px;
    			font-size: 13px;
    			font-weight: 600;
    		}
    		.lang-ctnr-rght{
   
    		}
	    }
	}

	.sttg-center-cmp-bd, .setting-bd-tag{
	    width: 100%;
	    padding: 10px 30px;
	    line-height: 18px;
	    font-size: 13px;
	    color: #4b3f56;
	    background: #f1f5f7;
	    font-family: sans-serif;
	    text-transform: capitalize;
        /*border: 1px solid #c5ced3;*/
        border-radius: 2px;
        margin-bottom: 50px;
	    .nm-ctnr{
	    	border-bottom: 1px solid #ddd;
	    	.nm-ctnr-lft{
	    	    display: inline-block;
			    position: relative;
			    margin-bottom: 10px;
			    .nm-ctnr-lft-a{
	    	        font-size: 14px;
				    font-weight: 600;
				    color: #666666;
			    }
		    }
	    	.nm-ctnr-rght{
			    vertical-align: top;
		    }
		    .nm-ctnr-opt{
		    	margin-bottom: 8px;
		    }
		    .nm-ky{
		    	display: inline-block;
		    }
		    .nm-val{
		    	display: inline-block;
		    	float: right;
		    }
	    }

	    .stt-ctnr{
	    	padding: 5px 0;
    		border-bottom: 1px solid #ddd;
    		.stt-ctnr-lft{
    			display: block;
    			margin-bottom: 10px;
    		}
    		.stt-ctnr-rght{
    			display: block;
    			.stt-form-ctnr{
    				.expandingArea {
					    position: relative;
					    background: #fff;
					    padding: 3px 5px;
					    border-radius: 5px;
					    min-height: 40px;
					    margin-bottom: 7px;
					    border: 1px solid #c7ced1;
    				}
    				.dv-stt-ft{
    					position: relative;
    					width: 100%;
    					height: 39px;
    					.lft-stt-ft{
    						position: relative;
    						/*class from third package*/
    						.draftJsEmojiPlugin__emojiSelectButton__3sPol{
    							border: 1px solid #c7ced1;
    						}
    					}
    					.rght-stt-ft{
    						position: absolute;
    						right: 0;
    						top: 5px;
    						button{
							    padding: 4px 12px;
    						}
    					}
    				}
    			}
    		}
	    }

	    .adr-ctnr, .ctact-ctnr{
	    	padding: 5px 0;
	    	.adr-ctnr-lft, .ctact-ctnr-lft{
	    		margin-bottom: 10px;
    			font-size: 13px;
    			font-weight: 600;
	    	}
	    	.ctact-ctnr-rght{
	    		input{
	    			min-height: 30px;
	    		}
	    	}
	    	.adr-form, form{
	    		position: relative;
		    	width: 220px;
		    	.bdy{
		    		margin-bottom: 6px;
		    	}
		    	.btm{
		    		position: relative;
		    		height: 32px;

		    		button{
		    			position: absolute;
		    			right: 0;
	    			    padding: 4px 10px;
	    			    border-radius: 2px;
		    		}
		    	}
		    }
	    }
	    
	    .lang-ctnr{
	    	padding: 5px 0;
	    	.lang-ctnr-lft{
    			margin-bottom: 10px;
    			font-size: 13px;
    			font-weight: 600;
    		}
    		.lang-ctnr-rght{
    			
    		}
    	}

	    .lang-form{
	    	position: relative;
	    	width: 220px;
	    	.bdy{
	    		margin-bottom: 6px;
	    	}
	    	.btm{
	    		position: relative;
	    		height: 32px;

	    		button{
	    			position: absolute;
	    			right: 0;
    			    padding: 4px 10px;
    			    border-radius: 2px;
	    		}
	    	}
	    	/*custom style */
	    	.Select-input{
	    		height: 30px;
	    	}
	    	.section-label{
	    		margin-bottom: 8px;
	    	}
	    }
	}
	.nm-ctnr-rght{
	    vertical-align: top;
	}
    .nm-ctnr-opt, .adr-ctnr-opt{
    	margin-bottom: 8px;
    }
    .nm-ky, .adr-ky{
    	display: inline-block;
    }
    .nm-val, .adr-val{
    	display: inline-block;
    	float: right;
    	font-weight: 600;
    	font-size: 12px;
    }

    .psw-form{
    	position: relative;
    	.bdy{
    		margin-bottom: 6px;
    	}
    	.btm{
    		position: relative;
    		height: 32px;
    		button{
    			position: absolute;
    			right: 0;
			    padding: 4px 10px;
			    border-radius: 2px;
    		}
    	}
    	/*custom style */
    	.Select-input{
    		height: 30px;
    	}
    	.section-label{
    		margin-bottom: 8px;
    	}
    }
}