.lang-ctnr {
	.Select-menu-outer{
		bottom: 30px !important;
		border-bottom-right-radius: 0px!important;
	    border-bottom-left-radius: 0px!important;
	    border-top-right-radius: 4px!important;
	    border-top-left-radius: 4px!important;
	}
	.Select-menu{
		max-height: 260px;
	}
}