<nav  class="navbar navbar-inverse navbar-fixed-top">
	<div class="default container">
		<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
		<div class="nav-lft">
            <div class="brand-ctnr">
                <a href="{{path('homepage')}}" class="navbar-brand">Opinion</a>
            </h1>
        </div>
        <div class="nav-sign-in-d"> 

        </div>
        <div class="nav-rght">
            <div class="nav-rgstr-lk-ctnr">
                <a href="{{path('fos_user_registration_register')}}" class="go-regiter">Sign Up</a>
            </div>
        </div>
    </div>
</nav>