''+
'<div class="in-detail-a">'+
    '<div class="in-detail-b">'+
        '<div class="in-detail-about" id="in_detail_about"></div>'+
        '<div class="in-detail-interst" id="in_detail_interst"></div>'+
    '</div>'+
'</div>'+
''
