''+
'<div id="home-right-div" class="home-right-div col-xs-4 col-sm-4 col-md-4">'+
    '<div id="hm_rgth_dv_a">'+
        '<div id="hm_rgth_dv_b" class="hm-rgth-dv-b">'+
            '<div id="_3" class="profile_3"></div>'+
            '<div id="_4" class="activity_4"></div>'+
        '</div>'+
    '</div>'+
'</div>'+
'<div id="home-center-div" class="home-center-div central-border col-xs-10 col-sm-8 col-md-8">'+
    '<div class="row wide-gutter">'+
        '<div id="op-center-authenticated" class="op-center-authenticated">'+
            '<div id="_1" class="form_1"></div>'+
            '<div id="_5" class="news_5"></div>'+
        '</div>'+
    '</div>'+
'</div>'+
''