'<div ng-app="profile" class="row hm-container">'+
    '<div id="social-block-left" class="col-sm-8">'+
        '<div id="_0" class="cover_ctnr_0"></div>'+
        '<div id="_01" class="sticky-menu"></div>'+
        '<div id="_02" class="pr-h-store"></div>'+
        '<div id="_03" class="view-ctnr"></div>'+
        '<div id="home-right-div" class="home-right-div col-xs-4 col-sm-4 col-md-4">'+
            '<div id="hm_rgth_dv_a">'+
                '<div id="hm_rgth_dv_b" class="hm-rgth-dv-b">'+
                    '<div id="_8" class="online_8"></div>'+
                '</div>'+
            '</div>'+
        '</div>'+             
    '</div>'+
    '<div id="social-block-right" class="col-sm-4">'+
        '<div id="h-r-dv" class="h-r-dv">'+
            '<div id="h-r-dv-w" class="h-r-dv-w">'+
                '<div id="show-usr-plus" class="show-usr-plus">'+
                    '<div id="show-usr-plus-a" class="show-usr-plus-a">'+
                        '<div id="show_usr_plus_pic" class="show-usr-plus-pic"></div>'+
                        '<div id="show_usr_plus_ff" class="show-usr-plus-ff"></div>'+
                        '<div id="o_foot_ab" class="o-foot-ab"><div id="o-foot-ab-cont" class="o-foot-ab-cont"></div></div>'+
                    '</div>'+
                '</div>'+
                '<div id="q-time" class="q-time"></div>'+
            '</div>'+
        '</div>'+
    '</div>'+
'</div>'+
''
