''+
'<div id="online_a" class="online-a">'+
	'<div id="online_b" class="online-b">'+
		'<div class="oln-hd">'+
			'<div class="oln-hd-ct">'+
				'<span class="oln-nb-cnnctd" id="">Onlines</span>'+
				'<span class="oln-pram" id=""></span>'+
				'<span class="oln-cll" id=""></span>'+
				'<span class="oln-mting" id=""></span>'+
			'</div>'+
		'</div>'+
		'<div class="oln-bd" id="">'+
			'<div class="oln-bd-ct" id="">'+
				'<div class="oln-bd-ul" id="oln_bd_ul">'+
				'</div>'+
			'</div>'+
			'<div class="oln-foot-sch" id="oln_foot_sch"></div>'+
		'</div>'+
	'</div>'+
'</div>'+
'<div id="" class="cht-dv">'+
'</div>'+
'<div class="single-cht-dv">'+
	'<div class="cht-dv-a">'+
		'<div class="cht-bd-bubble">'+
			'<span class="cht-bd-cll"></span><span class="cht-bd-sttg"></span>'+
			'<div class="cht-bd-ct">'+
				'<div class="cht-msg-dv"></div>'+
				'<div class="cht-form-dv">'+
					'<input type="hidden"  id="_token" name="_token" value="">'+
					'<textarea id="cht_txt_msg" class="cht-txt-msg" data-min-rows-cht-msg="1" rows="1" placeholder="Enter to send"></textarea>'+
				'</div>'+
			'</div>'+
		'</div>'+
		'<div class="cht-dv-foo">'+
			'<div class="cht-foo-ct">'+
				'<span class="cht-foo-nm"></span><span class="cht-foo-cls"></span>'+
			'</div>'+
		'</div>'+
	'</div>'+
'</div>'+
	''
