<section id="min-profile" class="">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div id="min-image-conver">
                <img src="" alt="">
                <div id="min-user-profile">
                    <img src="" alt="">
                </div> 
            </div>
        </div>
        <div id="user-info" class="list-group">
            <div>
                <a href="#" class="list-group-item">message
                    <span class="badge">2</span>
                </a>
                <a href="#" class="list-group-item">message
                    <span class="badge">2</span>
                </a>
                <a href="#" class="list-group-item">message
                    <span class="badge">2</span>
                </a>
                <a href="#" class="list-group-item">message
                    <span class="badge">2</span>
                </a>
            </div>  
        </div> 
    </div>  
</section>