<section class="container-fluid">
    <div id="panel-online-users" class="panel panel-primary" >
        <table class="table table-striped table-condensed">
            <div class="panel-heading"> 
                <h3 class="panel-title">Online</h3>
            </div>
          <tbody>

            <tr>
              <td><img src="" alt=""></td>
              <td>user.name</td>
            </tr>
          </tbody>
        </table>
    </div>
</section>
     