''+
'<div class="in-detail-hd">'+
    '<i class="fa fa-users"></i>'+
    '<span class="">Adress</span>'+
    '<a href="" class="edit-adress-info"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>'+
'</div>'+
'<div class="in-detail-cont" id="details_adr">'+
    
'</div>'+
''