''+
'<div class="stk-mnu-dv">'+
	'<div class="stk-mnu-dv-a">'+
		'<div class="stk-mnu-ctnr">'+
			'<div class="stk-mnu-h-ctnr">'+
				'<div class="stk-mnu-h-ctnr-a">'+
					'<a ui-sref="starter" class="mnu-chd-lk active">'+
						'<span class="mnu-ico-ctnr"></span>'+
						'<span class="mnu-txt-ctnr">Starter</span>'+
					'</a>'+
				'</div>'+
			'</div>'+
			'<div class="stk-mnu-info-ctnr">'+
				'<div class="stk-mnu-info-ctnr-a">'+
					'<a ui-sref="infos" class="mnu-chd-lk">'+
						'<span class="mnu-ico-ctnr"><i class="fa fa-info-circle" aria-hidden="true"></i></span>'+
						'<span class="mnu-txt-ctnr">About</span>'+
					'</a>'+
				'</div>'+
			'</div>'+
			'<div class="stk-mnu-photos-ctnr">'+
				'<div class="stk-mnu-photos-ctnr-a">'+
					'<a ui-sref="photos" class="mnu-chd-lk">'+
						'<span class="mnu-ico-ctnr"><i class="fa fa-picture-o" aria-hidden="true"></i></span>'+
						'<span class="mnu-txt-ctnr">Photos</span>'+
					'</a>'+
				'</div>'+
			'</div>'+
			'<div class="stk-mnu-frds-ctnr">'+
				'<div class="stk-mnu-frds-ctnr-a">'+
					'<a ui-sref="followers" class="mnu-chd-lk">'+
						'<span class="mnu-ico-ctnr"></span>'+
						'<span class="mnu-txt-ctnr">Followers</span>'+
					'</a>'+
				'</div>'+
			'</div>'+
			'<div class="stk-mnu-op-ctnr">'+
				'<div class="stk-mnu-op-ctnr-a">'+
					'<a ui-sref="opinions" class="mnu-chd-lk">'+
						'<span class="mnu-ico-ctnr"></span>'+
						'<span class="mnu-txt-ctnr">Opinions</span>'+
					'</a>'+
				'</div>'+
			'</div>'+
		'</div>'+
	'</div>'+
'</div>'+
''