{
    "presets": [
        "es2015",
        "react",
        "babel-preset-stage-0"
    ],
    "plugins": [
      	"transform-es2015-destructuring",
      	"transform-object-rest-spread",
      	"syntax-dynamic-import",
      	"transform-decorators-legacy",
      	"transform-class-properties",
      	"transform-es2015-block-scoping",
      	"transform-es2015-constants",
        "transform-async-to-generator",
        "transform-regenerator",
        "dynamic-import-node",
        [
            "react-intl", {
                "messagesDir": "./builds/messages",
                "enforceDescriptions": false
            }
        ]
    ]
}
